body {
  text-align: center;
  padding: 50px;
  background-color: #f63;
}

h1 {
    margin: 0;
}

.container{
    background: #fff;
    color: #600;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #900;
    display: inline-block;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    color: #ff0;
    background: #f30;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}